@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300&display=swap');
:root {
    --primary: 237, 94%, 81%;
    --paragraph: 1.11rem;
    --background-secondary: 256, 12%, 12%;
    --transition-main: .175, .685, .32;
    --background-secondary-dark: 256, 10%, 10%;
    --background-secondary-light: 257, 11%, 16%;
    --white: 0, 0%, 100%;
    --quite-gray: #89cff0;
    --black: 0, 0%, 0%;
    --navbar-buttons: 2.4rem;
    --background: #1E1E1E;
    --font-main: "Poppins";
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
html, body {
    margin: 0;
    background-color: var(--background);
    font-family: var(--font-main);
    width: 100%;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
}
a {
    color: hsla(var(--primary), 1);
    font-size: var(--paragraph);
    text-decoration: underline;
}
a:visited {
    color: hsla(var(--primary), .5);
}
ul, ol {
    margin: 1rem 0;
}

.title {
    text-align: center;
    color: #89cff0;
    font-weight: bold;
}

/* Header */

/* Menu - Navbar */
.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexbox-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flexbox-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#navbar {
    top: 0;
    padding: 0;
    width: 5em;
    height: 100vh;
    position: fixed;
    background-color: hsl(var(--background-secondary));
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 20px 20px 0;
    border-right: 5px solid aqua;
}
#navbar:hover {
    width: 16em;
}
#navbar::-webkit-scrollbar-track {
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background-secondary));
}
#navbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}
.navbar-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navbar-logo {
    margin: 0 0 2em 0;
    width: 100%;
    height: 5em;
    background: hsl(var(--background-secondary-dark));
}
.navbar-logo > .navbar-item-inner {
    width: calc(5rem - 8px);
}
.navbar-logo > .navbar-item-inner:hover {
    background-color: transparent;
}
.navbar-logo > .navbar-item-inner > img {
    height: 2rem;
    fill: hsl(var(--white));
}
.navbar-item {
    padding: 0 .5rem;
    width: 100%;
    cursor: pointer;
}
.navbar-item-inner {
    padding: 1em 0;
    width: 100%;
    position: relative;
    color: var(--quite-gray);
    border-radius: .25em;
    text-decoration: none;
    transition: all .2s cubic-bezier(var(--transition-main), 1);
}
.navbar-item-inner:hover {
    color: aqua;
    background: hsl(var(--background-secondary-light));
    box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
}
.navbar-item-inner-icon-wrapper {
    width: calc(5rem - 1em - 8px);
    position: relative;
}
.navbar-item-inner-icon-wrapper ion-icon {
    position: absolute;
    font-size: calc(var(--navbar-buttons) - 1rem);
}
.link-text {
    margin: 0;
    width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all .35s cubic-bezier(var(--transition-main), 1);
    overflow: hidden;
    opacity: 0;
}
#navbar:hover .link-text {
    width: calc(100% - calc(5rem - 8px));
    opacity: 1;
}

::-webkit-scrollbar-track {
    background-color: hsl(var(background));
}
::-webkit-scrollbar {
    width: 8px;
    background-color: hsl(var(--background));
}
::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
}
/* End Menu - Navbar */

/* Social Icons Sidebar */
.social {
    position: fixed;
    right: 0;
    top: 30%;
}
.social ul {
    padding: 0;
    transform: translate(60%);
    list-style-type: none;
}
.social ul li {
    display: block;
    margin: 5px;
    background-color: aqua;
    width: 130px;
    text-align: left;
    padding: 10px;
    border-radius: 30px 0 0 30px;
    transition: all 1s;
}
.social ul li a {
    text-decoration: none;
}
.social ul li:hover {
    transform: translate(-60%);
    background: black;
    border: 1px solid aqua;
}
.social ul li:hover a {
    color: white;
    text-decoration: none;
}
.social ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    transform: rotate(360deg);
    transition: all 1s;
}
.social ul li i {
    text-align: center;
    margin-right: 10px;
    color: #000;
    background: #ffffff;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    transform: rotate(0deg);
}
.social ul li:hover i {
    transform: rotate(360deg);
    transition: all 1s;
}
/* End Social Icons Sidebar */

/*Hero*/
.hero {
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    color: #89cff0;

}
.hero .hero-inner {
    margin: auto;
}
.hero h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
    /* margin-right: 1em; */
}
.imagem{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.imagem img{
    width: 300px;
    border: 5px solid #89cff0;
    border-radius: 50%;
}
/* End Header */

/* About Section */
.about-section {
    height: 100vh;
    width: 100%;
}
.about-section img{
    height: auto;
    width: 302px;
}
.about {
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text {
    width: 540px;
}
.about-text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #89cff0;
    text-align: justify;
}
.btn-curriculo {
    margin-top: 30px;
}
.btn-curriculo a{
    font-size: 18px;
    background: aqua;
    color: #000;
    text-decoration: none;
    border: none;
    padding: 8px 25px;
    border-radius: 6px;
    transition: 0.5s;
}
.btn-curriculo a:hover {
    background: #000;
    border: 1px  solid #89cff0;
    color: #F3F6FB;
}
/* End About Section */

/*Projects Section*/
article {
    --img-scale: 1.001;
    --title-color: #89cff0;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #363636;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}

article a::after {
    position: aboslute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
}

article h2 {
    margin: 0 0 18px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
}

article p {
    color: #CCCCCC;
}

figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}

article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
}

.article-body {
    padding: 24px;
}

article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: aqua;
}

article a:focus {
    outline: 1px dotted aqua;
}

article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
}

article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: aqua;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/*End Projects Section*/
/*Responsive*/
@media screen and (max-width: 768px) {
    .hero{
        display:flex;
    }

    article {
        container: card/inline-size;
    }
    .article-body p {
        display: none;
    }
}

@container card (min-width: 380px) {
    .article-wrappper {
        display: grid;
        grid-template-columns: 100px 1fr;
        gap: 16px;
    }
    .article-body {
        padding-left: 0;
    }
    figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    figure img {
        height: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }
}

