body {
    margin: 0;
    font-family: sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;

    display:flex;
    justify-content: center;
    align-items: center;

    text-align: left;
    color: white;

    background-image: url(images/15975869-jkulsrln.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero .hero-inner {
    border: 5px solid red;
}

.hero h1 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0.5em;
    /* margin-right: 1em; */
}

.hero img {
    border: 5px solid red;
    border-radius: 50%;
}

.hero .imagem img{
    height: ;
}

